$dw-scooter-dark: #15607A;
$dw-scooter: #1D81A2;
$dw-scooter-light: #18A1CD;
$dw-scooter-lightest: #e9f3f6;

$dw-turquoise-dark: #09bb9f;
$dw-turquoise: #39f3bb;

$dw-firebrick: #C71E1D;

$dw-blue: #588CDB;
$dw-green: #6ED778;
$dw-yellow: #FFDC27;
$dw-red: #CF4870;


$dw-black: #111111;
$dw-black-bis: #333333;
// $dw-black-ter
$dw-grey-darker: #4F4F4F;
$dw-grey-dark: #858585;
$dw-grey: #A7A7A7;
$dw-grey-light: #C9C9C9;
$dw-grey-lighter: #E5E5E5;
$dw-grey-lightest: #F0F0F0;
$dw-white-ter: #F5F5F5;
$dw-white-bis: #F9F9F9;
$dw-white: #FFFFFF;


html {
    --color-dw-scooter-dark: #15607A;
    --color-dw-scooter: #1D81A2;
    --color-dw-scooter-light: #18A1CD;
    --color-dw-scooter-lightest: #e9f3f6;
    --color-dw-turquoise: #39f3bb;
    --color-dw-turquoise-dark: #09bb9f;
    --color-dw-red: #C71E1D;
    --color-dw-black: #111111;
    --color-dw-black-bis: #333333;
    // --color-dw-black-ter
    --color-dw-grey-darker: #4F4F4F;
    --color-dw-grey-dark: #858585;
    --color-dw-grey: #A7A7A7;
    --color-dw-grey-light: #C9C9C9;
    --color-dw-grey-lighter: #E5E5E5;
    --color-dw-grey-lightest: #F0F0F0;
    --color-dw-white-ter: #F5F5F5;
    --color-dw-white-bis: #F9F9F9;
    --color-dw-white: #FFFFFF;
}