/*
 * CUSTOM COLORS
 */


$dw-scooter-dark: #15607A;
$dw-scooter: #1D81A2;
$dw-scooter-light: #18A1CD;
$dw-scooter-lightest: #e9f3f6;

$dw-turquoise-dark: #09bb9f;
$dw-turquoise: #39f3bb;

$dw-firebrick: #C71E1D;

$dw-blue: #588CDB;
$dw-green: #6ED778;
$dw-yellow: #FFDC27;
$dw-red: #CF4870;


$dw-black: #111111;
$dw-black-bis: #333333;     // Gray 20 (aka Gray 1)
// $dw-black-ter
$dw-grey-darker: #4F4F4F;   // Gray 30 (aka Gray 2)
$dw-grey-dark: #858585;     // Gray 50
$dw-grey: #A7A7A7;          // Gray 60
$dw-grey-light: #C9C9C9;    // Gray 70
$dw-grey-lighter: #E5E5E5;  // Gray 80
$dw-grey-lightest: #F0F0F0; // Gray 85
$dw-white-ter: #F5F5F5;     // Gray 90
$dw-white-bis: #F9F9F9;     // Gray 95
$dw-white: #FFFFFF;

$dw-shade: rgba(0,0,0,.1);

html {
    --color-dw-scooter-dark: #{$dw-scooter-dark};
    --color-dw-scooter: #{$dw-scooter};
    --color-dw-scooter-light: #{$dw-scooter-light};
    --color-dw-scooter-lightest: #{$dw-scooter-lightest};
    --color-dw-turquoise: #{$dw-turquoise};
    --color-dw-turquoise-dark: #{$dw-turquoise-dark};
    --color-dw-firebrick: #{$dw-firebrick};
    --color-dw-black: #{$dw-black};
    --color-dw-black-bis: #{$dw-black-bis};
    // --color-dw-black-ter
    --color-dw-grey-darker: #{$dw-grey-darker};
    --color-dw-grey-dark: #{$dw-grey-dark};
    --color-dw-grey: #{$dw-grey};
    --color-dw-grey-light: #{$dw-grey-light};
    --color-dw-grey-lighter: #{$dw-grey-lighter};
    --color-dw-grey-lightest: #{$dw-grey-lightest};
    --color-dw-white-ter: #{$dw-white-ter};
    --color-dw-white-bis: #{$dw-white-bis};
    --color-dw-white: #{$dw-white};
}