
/*
 * CUSTOMIZE BULMA
 */


// adjust bulma dropdowm arrow
.select:not(.is-multiple):not(.is-loading)::after,
.navbar-link:not(.is-arrowless)::after {
	border-width: 2px;
	border-radius: 0;
	width: 0.5em;
	height: 0.5em;
}

/*
 * Navbar
 */

 // Navbar touch sizes adjustment

@include touch {
  .navbar-menu {
    .navbar-item:not(:last-child), .navbar-link {
      border-radius: 0;
      border-bottom: 1px solid $grey-lighter;
    }
    .navbar-dropdown {
      .navbar-item {
        border-bottom: none;
        padding: .5rem;
      }
    }
  }
}

// Navbar dekstop sizes adjustments

@include desktop {
    .navbar-item.has-dropdown .navbar-item.has-dropdown .navbar-dropdown {
      position: absolute;
      left: -100%;
      right: 100%;
      top: -6px;
      display: none;
  }
  .navbar-item.has-dropdown .navbar-item.has-dropdown:hover .navbar-dropdown {
      display: block;
  }

  // hide label for burger menu on desktop @@ needs to be refactored
  .navbar-end>.navbar-item:last-child>.navbar-link { 
    .navbar-title {
      display: none;
    }
    .icon {
      font-size: 30px;
      margin-right: 0;
    }
  }
}

/*
 * Sign-in
 */
 
 @include touch {
  //  .signup-form.two-columns {
  //    display: flex;
  //    flex-direction: column;
  //  }
 }
 @include desktop {
  .signup-form {
    max-width: 200px !important;
    &.two-columns {
      columns: 2;
      max-width: 400px !important;
    }
   }
 }