@charset "utf-8";

@import "./fonts";
@import "./colors";
@import "./spaces";

// COLORS

$primary: $dw-scooter;

$info: $dw-blue;
$success: $dw-green;
$warning: $dw-yellow;
$danger: $dw-red;

$light: $dw-white-bis;
$dark: $dw-black-bis;

$background: $dw-white-bis;
$body-background-color: white;
$footer-background-color: transparent;

// $border:
// $border-hover
// $border-light
// $border-light-hover

$text: $dw-black-bis;
$text-light: $dw-grey;
$text-strong: $dw-black-bis;

$code: darken($dw-red, 15%);


$link: $dw-scooter;
// $link-visited
$link-hover: $dw-scooter-dark;
// $link-hover-border

// FOTNTS

$family-sans-serif:  "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$family-serif: "Bitter", serif;
$family-monospace: "Roboto Mono", Menlo, Consolas, Monaco, "Liberation Mono", monospace;

// SIZES

$body-size: 16px;
$body-font-size: 14px;

$size-1: 3rem; // = 48px @ 16px base
$size-2: 2rem; // = 32px @ 16px base
$size-3: 1.5rem; // = 24px @ 16px base
$size-4: 1.25rem; // = 20px @ 16px base
$size-5: 1rem; // 16px @ 16px base
$size-6: 0.875rem; // = 14px @ 16px base
$size-7: 0.75rem; // = 12px @ 16px base

// $size-small: $size-7
// $size-normal: $size-6
// $size-medium: $size-5
// $size-large: $size-4

$section-padding: 1.5rem;

$hr-height: 1px;
$hr-background-color: $dw-shade;

$navbar-item-hover-background-color: $dw-white-ter;
$navbar-divider-height: 1px;
$navbar-divider-background-color: $dw-grey-lighter;
$navbar-dropdown-arrow: $dw-grey-darker;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";

/*
 * BULMA ELEMENTS
 * https://bulma.io/documentation/elements/
 */
// @import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
// @import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../node_modules/bulma/sass/elements/progress.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";

/*
 * BULMA FORM
 * https://bulma.io/documentation/form/
 */
@import "../../node_modules/bulma/sass/form/_all.sass";

/*
 * BULMA COMPONENTS
 * https://bulma.io/documentation/components/
 */
// @import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/components/breadcrumb.sass";
// @import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
// @import "../../node_modules/bulma/sass/components/media.sass";
@import "../../node_modules/bulma/sass/components/menu.sass";
@import "../../node_modules/bulma/sass/components/message.sass";
// @import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
// @import "../../node_modules/bulma/sass/components/panel.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";

/*
 * BULMA GRID
 * https://bulma.io/documentation/columns/
 */
@import "../../node_modules/bulma/sass/grid/_all.sass";

/*
 * BULMA HELPERS
 * https://bulma.io/documentation/helpers/
 */
@import "../../node_modules/bulma/sass/helpers/_all.sass";

/*
 * BULMA LAYOUT
 * https://bulma.io/documentation/layout/
 */
@import "../../node_modules/bulma/sass/layout/_all.sass";
// @import "../../node_modules/bulma/sass/layout/footer.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";

// adjust navbar arrow
.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
	border-width: 2px;
	border-radius: 0;
	width: 0.5em;
	height: 0.5em;
}

// set bulma variables as css vars. needs to be done after import of bulma
@import "./vars";