@charset "utf-8";

@import "./fonts";
@import "./colors";


// colors
$primary: $dw-scooter;

$info: $dw-blue;
$success: $dw-green; 
$warning: $dw-yellow;
$danger: $dw-red;

// $light: $dw-white-ter;
// $dark: $dw-grey-darker;

$background: $dw-white-bis;
// $border:
// $border-hover
// $border-light
// $border-light-hover
$text: $dw-black-bis;
$text-light: $dw-grey;
$text-strong: $dw-black-bis;

$code: darken($dw-red, 15%);


$link: $dw-scooter;
// $link-visited
$link-hover: $dw-scooter-dark;
// $link-hover-border

$family-sans-serif:  "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$family-serif: "Bitter", serif;
$family-monospace: "Roboto Mono", Menlo, Consolas, Monaco, "Liberation Mono", monospace;

$body-background-color: white;
// $body-size
$body-font-size: 0.875rem;

$hr-height: 1px;


@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";

/*
 * BULMA ELEMENTS
 * https://bulma.io/documentation/elements/
 */
// @import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
// @import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../node_modules/bulma/sass/elements/progress.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";

/*
 * BULMA FORM
 * https://bulma.io/documentation/form/
 */
@import "../../node_modules/bulma/sass/form/_all.sass";

/*
 * BULMA COMPONENTS
 * https://bulma.io/documentation/components/
 */
// @import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/components/breadcrumb.sass";
// @import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
// @import "../../node_modules/bulma/sass/components/media.sass";
@import "../../node_modules/bulma/sass/components/menu.sass";
@import "../../node_modules/bulma/sass/components/message.sass";
// @import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
// @import "../../node_modules/bulma/sass/components/panel.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";

/*
 * BULMA GRID
 * https://bulma.io/documentation/columns/
 */
@import "../../node_modules/bulma/sass/grid/_all.sass";

/*
 * BULMA HELPERS
 * https://bulma.io/documentation/helpers/
 */
@import "../../node_modules/bulma/sass/helpers/_all.sass";

/*
 * BULMA LAYOUT
 * https://bulma.io/documentation/layout/
 */
// @import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

// a:hover {
// 	text-decoration: underline;
// }

// .title.is-1, .subtitle.is-1, .subtitle.is-2, .title.is-2 {
// 	font-weight: $weight-light;
// }


// .title.is-3 {
// 	font-weight: $weight-medium;
// }


// button.is-primary,
// button.is-link,
// button.is-info,
// button.is-danger,
// button.is-dark,
// button.is-black {
// 	svg {
// 		fill: white;
// 	}
// }

// .button.is-large {
// 	font-weight: $weight-medium;
// }

// // adjust navbar arrow
// .select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
// 	border-width: 2px;
// 	border-radius: 0;
// 	width: 0.5em;
// 	height: 0.5em;
// }