@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    src: local('Bitter Bold'), local('Bitter-Bold'), url('fonts/bitter/bitter_700.woff2') format('woff2'), url('fonts/bitter/bitter_700.woff') format('woff'), url('fonts/bitter/bitter_700.eot?#iefix') format('embedded-opentype'), url('fonts/bitter/bitter_700.svg#Bitter') format('svg'), url('fonts/bitter/bitter_700.ttf') format('truetype');
}
