doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body

    each src in LIBS
      script(src=src)

    script.
      require.config({
          baseUrl: '/static',
          paths: {
              dw: 'js/dw',
          },
          waitSeconds: 0,
      });
      dw.backend = { __api_domain: '!{API_DOMAIN}' };

    div
      | !{TEMPLATE_HTML}
